<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 120px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img alt="WTLT Logo" src="/assets/logo_wtlt.svg" width="75" height="50" />
</a>
